In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
%config InlineBackend.figure_format = 'svg'
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['Arial'] # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False # 用来正常显示负号
# %load_ext autoreload
## Set drawing coordinates and font parameters
parameters = {'axes.labelsize': 15,
             'axes.titlesize': 15,
             'figure.titlesize': 18}
plt.rcParams.update(parameters)

%load_ext autoreload
%autoreload 2

## Manuscript Figure1

### Synonymous and Non_Synonymous mutation count

In [9]:
mutation_matrix = pd.read_csv('/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/No_CNV_top15000_matrix.csv', index_col = 0 )
mutation_matrix

/Users/ranpeng/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (18,25,27,33,34,47,48,49,50,51,54,64,67,70,71,72,74,75,76,78,79,81,82,83,84,88,89,93,94,97,98,100,103,104,105,107,108,109,110,111,116,117,120,121,122,124,125,126,127,128,131,132,133,135,136,137,138) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CCAT177,CCAT58,CCAT147,CCAT144,CCAT38,CCAT45,CCAT136,CCAT62,CCAT40,CCAT149,...,CCAT118,CCAT202,CCAT196,CCAT12,CCAT84,CCAT207,CCAT179,CCAT200,CCAT108,CCAT99
sample,,,,,,,,,,,,,,,,,,,,,
TTN,Missense_Mutation,Multi_Hit,Multi_Hit,Missense_Mutation,Missense_Mutation,Multi_Hit,Missense_Mutation,Multi_Hit,Missense_Mutation,Multi_Hit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MUC16,Missense_Mutation,Multi_Hit,Multi_Hit,Missense_Mutation,Missense_Mutation,In_Frame_Del,Missense_Mutation,Multi_Hit,Missense_Mutation,Missense_Mutation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARID1A,Missense_Mutation,Missense_Mutation,Frame_Shift_Del,Nonsense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SYNE1,Missense_Mutation,Missense_Mutation,NaN,NaN,Multi_Hit,Missense_Mutation,Missense_Mutation,Missense_Mutation,Missense_Mutation,In_Frame_Del,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AHNAK,NaN,NaN,NaN,NaN,Missense_Mutation,In_Frame_Del,In_Frame_Del,In_Frame_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZSWIM1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZUFSP,NaN,NaN,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZW10,NaN,NaN,NaN,NaN,Multi_Hit,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZXDC,NaN,NaN,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZYG11B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
mutation_conts = mutation_matrix.count()
mutation_matrix_del_Synonymous = mutation_matrix.replace('Nonsense_Mutation', np.nan)
Non_Synonymous_counts = mutation_matrix_del_Synonymous.count()
counts = pd.DataFrame(zip(mutation_conts, Non_Synonymous_counts), columns = ['mutation_conts', 'Non_Synonymous_counts'], index = mutation_matrix.columns)
counts['Synonymous_counts'] = counts['mutation_conts'] - counts['Non_Synonymous_counts']
counts.to_csv('/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/mutation_barplot_counts.csv')
counts

         mutation_conts  Non_Synonymous_counts  Synonymous_counts
CCAT177             606                    597                  9
CCAT58             1056                   1034                 22
CCAT147            1133                   1097                 36
CCAT144             285                    268                 17
CCAT38             3970                   3890                 80
...                 ...                    ...                ...
CCAT207              57                     56                  1
CCAT179              17                     16                  1
CCAT200               2                      2                  0
CCAT108               1                      1                  0
CCAT99               14                     14                  0

[138 rows x 3 columns]

In [54]:
# 宽格式数据转成长格式数据
counts.drop(['mutation_conts'],axis=1, inplace = True)
# counts.plot(kind = 'bar', figsize = (10,5), color = ['#1f77b4', '#ff7f0e'])
counts.reset_index(inplace = True)
barplot_input = counts.melt(id_vars=["index"],value_name="count",var_name="mutation_type")
barplot_input.to_csv('/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/mutation_barplot_input.csv')
barplot_input

       index          mutation_type  count
0    CCAT177  Non_Synonymous_counts    597
1     CCAT58  Non_Synonymous_counts   1034
2    CCAT147  Non_Synonymous_counts   1097
3    CCAT144  Non_Synonymous_counts    268
4     CCAT38  Non_Synonymous_counts   3890
..       ...                    ...    ...
271  CCAT207      Synonymous_counts      1
272  CCAT179      Synonymous_counts      1
273  CCAT200      Synonymous_counts      0
274  CCAT108      Synonymous_counts      0
275   CCAT99      Synonymous_counts      0

[276 rows x 3 columns]

### clinical and significant CNA data mapping

In [64]:
driver_mutations = pd.read_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/onco_matrix(2022_03_26).csv", index_col = 0)
driver_mutations

,CCAT24,CCAT68,CCAT70,CCAT33,CCAT104,CCAT58,CCAT116,CCAT46,CCAT44,CCAT22,...,CCAT146,CCAT179,CCAT183,CCAT196,CCAT200,CCAT207,CCAT212,CCAT213,CCAT99,CCAT88
gene_symbol,,,,,,,,,,,,,,,,,,,,,
ARID1A,Multi_Hit,Nonsense_Mutation,Multi_Hit,Nonsense_Mutation,Frame_Shift_Ins,Missense_Mutation,Nonsense_Mutation,Splice_Site,Frame_Shift_Ins,Frame_Shift_Ins,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP53,Multi_Hit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KMT2C,NaN,Missense_Mutation,Nonsense_Mutation,Missense_Mutation,Nonsense_Mutation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DPCR1,NaN,Multi_Hit,NaN,NaN,NaN,Missense_Mutation,Frame_Shift_Del,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAP1,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,Frame_Shift_Del,In_Frame_Ins,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MGA,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missense_Mutation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KMT2A,Frame_Shift_Ins,NaN,NaN,NaN,NaN,Frame_Shift_Del,NaN,In_Frame_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KMT2D,Frame_Shift_Del,NaN,NaN,NaN,NaN,NaN,NaN,Frame_Shift_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APC,NaN,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,Multi_Hit,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IDH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missense_Mutation,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMAD4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ATM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NCOR1,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In_Frame_Del
EPHA2,NaN,NaN,Frame_Shift_Del,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KRAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PML,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,In_Frame_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TET2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missense_Mutation,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NF1,NaN,NaN,Splice_Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARID2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nonsense_Mutation,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSH6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In_Frame_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PBRM1,Nonsense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RBM47,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In_Frame_Del,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FGFR2,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IDH2,NaN,NaN,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
### significant_CNA data sorted by mutation samples
significant_CNA = pd.read_csv("/Users/ranpeng/Desktop/CCA/Data/Fig1/Figure-1b/CCA_CNV_plot.csv", index_col = 0)
significant_CNA = significant_CNA.T.loc[driver_mutations.columns].T
significant_CNA.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/CCA_CNV_plot_20220326.csv")
significant_CNA

,CCAT24,CCAT68,CCAT70,CCAT33,CCAT104,CCAT58,CCAT116,CCAT46,CCAT44,CCAT22,...,CCAT146,CCAT179,CCAT183,CCAT196,CCAT200,CCAT207,CCAT212,CCAT213,CCAT99,CCAT88
Descriptor,,,,,,,,,,,,,,,,,,,,,
5p15.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
12q21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,2.0,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN
7q21.2,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,1.0,...,2.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN
11p15.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14q32.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9q34.3,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12p11.23,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,...,2.0,2.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN
1p36.11,NaN,NaN,-2.0,NaN,-2.0,NaN,-1.0,NaN,-2.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
9q34.3 .1,NaN,NaN,NaN,-2.0,NaN,NaN,-2.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
9p21.3,NaN,NaN,NaN,NaN,-2.0,-2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12q24.32,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
1p36.31,NaN,NaN,-2.0,-2.0,NaN,NaN,-1.0,NaN,-2.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
13q34,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
7q36.3,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12q13.12,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
19p13.3,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
15q24.2,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-2.0

In [72]:
### significant_CNA data for oncoplot sorted by mutation samples
significant_CNA = pd.read_csv("/Users/ranpeng/Desktop/CCA/Data/Fig1/Figure-1b/CCA_CNV_plot_RAW.csv", index_col = 0)
significant_CNA = significant_CNA.T.loc[driver_mutations.columns].T
significant_CNA.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/CCA_CNV_oncoplot_20220326.csv")
significant_CNA

,CCAT24,CCAT68,CCAT70,CCAT33,CCAT104,CCAT58,CCAT116,CCAT46,CCAT44,CCAT22,...,CCAT146,CCAT179,CCAT183,CCAT196,CCAT200,CCAT207,CCAT212,CCAT213,CCAT99,CCAT88
Descriptor,,,,,,,,,,,,,,,,,,,,,
5p15.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Amp,NaN,NaN,NaN,NaN,Amp
12q21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amp,...,Amp,Amp,NaN,NaN,NaN,Amp,NaN,Amp,NaN,NaN
7q21.2,NaN,NaN,NaN,Amp,NaN,Amp,NaN,NaN,NaN,gain,...,Amp,Amp,NaN,NaN,NaN,Amp,Amp,Amp,NaN,NaN
11p15.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14q32.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9q34.3,NaN,NaN,NaN,NaN,NaN,Amp,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12p11.23,NaN,NaN,NaN,NaN,NaN,NaN,gain,Amp,NaN,NaN,...,Amp,Amp,NaN,NaN,NaN,Amp,NaN,Amp,NaN,NaN
1p36.11,NaN,NaN,Deletion,NaN,Deletion,NaN,loss,NaN,Deletion,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
9q34.3 .1,NaN,NaN,NaN,Deletion,NaN,NaN,Deletion,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
9p21.3,NaN,NaN,NaN,NaN,Deletion,Deletion,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12q24.32,NaN,NaN,NaN,NaN,NaN,NaN,Deletion,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
1p36.31,NaN,NaN,Deletion,Deletion,NaN,NaN,loss,NaN,Deletion,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
13q34,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
7q36.3,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12q13.12,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
19p13.3,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN
15q24.2,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,loss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,Deletion

In [71]:
### clinical data sorted by mutation samples
clinical_data = pd.read_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/Fig1b_clinical_feature_anatation.csv", index_col = 0)
clinical_data = clinical_data.loc[driver_mutations.columns]
clinical_data.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/Fig1b_clinical_feature_anatation_20220326.csv")
clinical_data

,Pathology,Proteome_Subtype,PT,GGT,ALT,Tbil,CA199,Perineural_invasion,Lymphovascular_invasion,HBV,total_perMB,Grade,TNM_Stage,Age,Gender
CCAT24,iCCA,S_II,Normal,Elevated,Normal,Normal,Normal,Yes,No,Ever,9.74,G3,I,59,Male
CCAT68,iCCA,S_I,Normal,Normal,Normal,Normal,Normal,No,No,Ever,19.84,G2,I,67,Male
CCAT70,iCCA,S_I,Normal,Elevated,Normal,Normal,Normal,No,No,Ever,15.58,G2_3,I,69,Male
CCAT33,iCCA,S_I,Normal,Normal,Normal,Normal,NA_1,No,No,Ever,2.44,G2_3,II,57,Male
CCAT104,iCCA,S_II,Normal,NA_1,Normal,Normal,Elevated,No,No,Ever,2.14,G2,I,81,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CCAT207,eCCA,S_II,Below,Elevated,Elevated,Elevated,Elevated,Yes,No,Ever,1.18,G2,III,54,Male
CCAT212,eCCA,S_III,Elevated,Elevated,Elevated,Elevated,Elevated,Yes,No,Ever,0.92,G2_3,II,74,Male
CCAT213,eCCA,S_III,Elevated,NA_1,Elevated,Elevated,Elevated,Yes,Yes,Never,0.64,G2_3,III,58,Male
CCAT99,eCCA,S_III,Normal,Elevated,Elevated,Elevated,Normal,Yes,No,Never,0.30,G2,III,52,Female
CCAT88,eCCA,S_III,Normal,Elevated,Elevated,Elevated,Elevated,Yes,Yes,Ever,4.54,G3,III,76,Male

In [82]:
### mutation barplot data sorted by mutation samples
counts = pd.read_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/mutation_barplot_counts.csv", index_col = 0)
counts = counts.loc[driver_mutations.columns]
counts.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/mutation_barplot_counts.csv")
counts

         mutation_conts  Non_Synonymous_counts  Synonymous_counts
CCAT24              468                    446                 22
CCAT68              921                    882                 39
CCAT70              739                    710                 29
CCAT33              121                    114                  7
CCAT104             105                     97                  8
...                 ...                    ...                ...
CCAT207              57                     56                  1
CCAT212              44                     41                  3
CCAT213              30                     30                  0
CCAT99               14                     14                  0
CCAT88              223                    210                 13

[138 rows x 3 columns]

In [83]:
# 宽格式数据转成长格式数据
counts.drop(['mutation_conts'],axis=1, inplace = True)
# counts.plot(kind = 'bar', figsize = (10,5), color = ['#1f77b4', '#ff7f0e'])
counts.reset_index(inplace = True)
barplot_input = counts.melt(id_vars=["index"],value_name="count",var_name="mutation_type")
barplot_input.to_csv('/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/mutation_barplot_input.csv')
barplot_input

       index          mutation_type  count
0     CCAT24  Non_Synonymous_counts    446
1     CCAT68  Non_Synonymous_counts    882
2     CCAT70  Non_Synonymous_counts    710
3     CCAT33  Non_Synonymous_counts    114
4    CCAT104  Non_Synonymous_counts     97
..       ...                    ...    ...
271  CCAT207      Synonymous_counts      1
272  CCAT212      Synonymous_counts      3
273  CCAT213      Synonymous_counts      0
274   CCAT99      Synonymous_counts      0
275   CCAT88      Synonymous_counts     13

[276 rows x 3 columns]

### RBM47 anatation transform

In [91]:
### RBM47 anatation transform
ana_RBM47 = pd.read_clipboard(index_col = 0)
ana_RBM47 = ana_RBM47.notnull().mul(1)
# ana_RBM47[ana_RBM47.isnull()] = 0
# ana_RBM47[~ana_RBM47.isnull()] = 1
ana_RBM47

         RBM47
gene_T
CCAT10       0
CCAT11       0
CCAT12       0
CCAT14       0
CCAT15       0
...        ...
CCAT212      0
CCAT213      0
CCAT215      0
CCAT219      0
CCAT220      0

[139 rows x 1 columns]

In [92]:
mut_dic = {0:'WT', 1:'MUT'}
ana_RBM47 = ana_RBM47.replace(mut_dic)
ana_RBM47

        RBM47
gene_T
CCAT10     WT
CCAT11     WT
CCAT12     WT
CCAT14     WT
CCAT15     WT
...       ...
CCAT212    WT
CCAT213    WT
CCAT215    WT
CCAT219    WT
CCAT220    WT

[139 rows x 1 columns]

In [93]:
ana_RBM47.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/RBM47_anatation.csv")

### DPCR1 anatation transform

In [94]:
DPCR1_ana = pd.read_clipboard(index_col = 0)
DPCR1_ana = DPCR1_ana.notnull().mul(1)
DPCR1_ana

         DPCR1
gene_T
CCAT10       0
CCAT11       0
CCAT12       0
CCAT14       0
CCAT15       0
...        ...
CCAT212      0
CCAT213      0
CCAT215      0
CCAT219      0
CCAT220      0

[139 rows x 1 columns]

In [95]:
mut_dic = {0:'WT', 1:'MUT'}
DPCR1_ana = DPCR1_ana.replace(mut_dic)
DPCR1_ana

        DPCR1
gene_T
CCAT10     WT
CCAT11     WT
CCAT12     WT
CCAT14     WT
CCAT15     WT
...       ...
CCAT212    WT
CCAT213    WT
CCAT215    WT
CCAT219    WT
CCAT220    WT

[139 rows x 1 columns]

In [96]:
DPCR1_ana.to_csv("/Users/ranpeng/Desktop/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/DPCR1_anatation.csv")

## FGFR2 gene fusion

In [14]:
FGFR2_fusion = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/FGFR2_fusion_list.csv")
FGFR2_fusion = FGFR2_fusion[['sample','type']]
FGFR2_fusion

                  sample          type
0    R21023768_F13_17_17  FGFR2-fusion
1    R21023778_F13_27_27  FGFR2-fusion
2    R21023804_F14_14_52  FGFR2-fusion
3    R21023807_F14_17_55  FGFR2-fusion
4    R21023814_F14_26_64  FGFR2-fusion
5    R21023832_F15_13_81  FGFR2-fusion
6     R21023841_F16_1_99  FGFR2-fusion
7     R21023841_F16_1_99  FGFR2-fusion
8    R21026702_F17_3_131  FGFR2-fusion
9   R21026714_F17_15_143  FGFR2-fusion
10   R21026739_F18_9_167  FGFR2-fusion
11  R21026742_F18_12_170  FGFR2-fusion
12  R21026744_F18_14_172  FGFR2-fusion

In [8]:
clinical_data = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/clinical_merge20220327.csv")
clinical_data

,CCA_No,clinical,time,time_day,status,T_pathological_subtype,NAT_pathological_subtype,iCCA_Pathology,age,gender,...,KRAS,PML,TET2,NF1,ARID2,MSH6,PBRM1,RBM47,FGFR2,IDH2
0,CCA#32,14S25615,49.033333,1471.0,0.0,5-1+5-2+L+N(S),111,smallBD,66,FEMALE,...,NaN,NaN,NaN,NaN,Splice_Site,NaN,NaN,NaN,NaN,NaN
1,CCA#33,14S26078,32.466667,974.0,1.0,5-1(N)(S),210,smallBD,33,MALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCA#34,14S26209,47.500000,1425.0,0.0,5-1(S),0-0-1,smallBD,54,FEMALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CCA#36,14S27582,23.466667,704.0,1.0,5-2+L(S),141,smallBD,37,MALE,...,NaN,NaN,NaN,NaN,NaN,NaN,Splice_Site,NaN,NaN,NaN
4,CCA#37,14S28082,62.500000,1875.0,0.0,5-1(S),100,smallBD,66,FEMALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,CCA#210,18S32905,12.933333,388.0,1.0,5-1-AC,0-0-4-a,NaN,61,FEMALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,CCA#213,18S34338,17.766667,533.0,1.0,5-1-AC,NaN,NaN,75,MALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,CCA#214,18S35658,17.433333,523.0,1.0,5-1-AC,NaN,NaN,47,MALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,CCA#215,18S42281,10.033333,301.0,1.0,5-1-AC,0-0,NaN,62,FEMALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,CCA#216,18S53535,1.066667,32.0,1.0,5-1-AC,0-0,NaN,69,MALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
clinical_data.columns

Index(['CCA_No', 'clinical', 'time', 'time_day', 'status',
       'T_pathological_subtype', 'NAT_pathological_subtype', 'iCCA_Pathology',
       'age', 'gender', 'E/I', 'iCC_eCC', 'firT', 'gene_T', 'phos_T',
       'phos_T_firmiana', 'firN', 'gene_N', 'phos_N', 'RNA_T', 'RNA_N',
       'phos_N_firmiana', 'PT', 'HBsAg', 'HBcAb', 'HBV', 'GGT', 'ALT', 'Tbil',
       'CA199', 'Cholelithiasis_1', 'Type_2_diabetes', 'Hypertension',
       'Presence_of_fluke_infection', 'Perineural_invasion',
       'Lymphovascular_invasion', 'G', 'S', 'F', 'T', 'N', 'M', 'Stage',
       'eccStage', 'iccStage', 'Grade', 'Age', 'Gender', 'Pathology',
       'Proteome_Subtype', 'Tumor_Sample_Barcode', 'total_perMB', 'log2_TMB',
       'Sig1', 'Sig2', 'Sig3', 'Sig4', '6p22.2 _Amp', '6q14.3_Del',
       '1q21.2_Amp', '6p21.2_Del', 'fir_T1', 'StromalScore', 'ImmuneScore',
       'ESTIMATEScore', 'TumorPurity', 'ImmuneScore_Xcell',
       'StromaScore_Xcell', 'MicroenvironmentScore_Xcell', 'Gene_ID',
       'Immune_CCP_Class', 'sample', 'CCP_Class', 'ARID1A', 'TP53', 'KMT2C',
       'DPCR1', 'BAP1', 'MGA', 'KMT2A', 'KMT2D', 'APC', 'IDH1', 'SMAD4', 'ATM',
       'NCOR1', 'EPHA2', 'KRAS', 'PML', 'TET2', 'NF1', 'ARID2', 'MSH6',
       'PBRM1', 'RBM47', 'FGFR2', 'IDH2'],
      dtype='object')

In [25]:
clinical_data1 = clinical_data[['CCA_No','iCC_eCC','iCCA_Pathology','gene_T','RNA_T', 'RNA_N']]
clinical_data1 = clinical_data1.dropna(subset=['RNA_T'])
clinical_data1

,CCA_No,iCC_eCC,iCCA_Pathology,gene_T,RNA_T,RNA_N
0,CCA#32,1,smallBD,CCAT10,R21023766_F13_15_15,R21023767_F13_16_16
1,CCA#33,1,smallBD,CCAT11,R21023768_F13_17_17,R21023769_F13_18_18
2,CCA#34,1,smallBD,CCAT12,R21023770_F13_19_19,R21023771_F13_20_20
3,CCA#36,1,smallBD,CCAT14,R21023774_F13_23_23,R21023775_F13_24_24
4,CCA#37,1,smallBD,CCAT15,R21023776_F13_25_25,R21023777_F13_26_26
...,...,...,...,...,...,...
207,CCA#204,2,NaN,NaN,R21026764_F19_3_191,R21026765_F19_4_192
208,CCA#205,2,NaN,NaN,R21026762_F19_1_189,R21026763_F19_2_190
209,CCA#206,2,NaN,CCAT212,R21026759_F18_29_187,R21026760_F18_30_188
212,CCA#210,2,NaN,CCAT215,R21026755_F18_25_183,R21026756_F18_26_184
216,CCA#216,2,NaN,CCAT220,R21026749_F18_19_177,R21026750_F18_20_178

In [28]:
merge_data = pd.merge(merge_data, FGFR2_fusion, left_on = 'RNA_N', right_on = 'sample', how = 'left')
merge_data

,CCA_No,iCC_eCC,iCCA_Pathology,gene_T,RNA_T,RNA_N,sample_x,type_x,sample_y,type_y
0,CCA#32,1,smallBD,CCAT10,R21023766_F13_15_15,R21023767_F13_16_16,NaN,NaN,NaN,NaN
1,CCA#33,1,smallBD,CCAT11,R21023768_F13_17_17,R21023769_F13_18_18,R21023768_F13_17_17,FGFR2-fusion,NaN,NaN
2,CCA#34,1,smallBD,CCAT12,R21023770_F13_19_19,R21023771_F13_20_20,NaN,NaN,NaN,NaN
3,CCA#36,1,smallBD,CCAT14,R21023774_F13_23_23,R21023775_F13_24_24,NaN,NaN,NaN,NaN
4,CCA#37,1,smallBD,CCAT15,R21023776_F13_25_25,R21023777_F13_26_26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
120,CCA#204,2,NaN,NaN,R21026764_F19_3_191,R21026765_F19_4_192,NaN,NaN,NaN,NaN
121,CCA#205,2,NaN,NaN,R21026762_F19_1_189,R21026763_F19_2_190,NaN,NaN,NaN,NaN
122,CCA#206,2,NaN,CCAT212,R21026759_F18_29_187,R21026760_F18_30_188,NaN,NaN,NaN,NaN
123,CCA#210,2,NaN,CCAT215,R21026755_F18_25_183,R21026756_F18_26_184,NaN,NaN,NaN,NaN
124,CCA#216,2,NaN,CCAT220,R21026749_F18_19_177,R21026750_F18_20_178,NaN,NaN,NaN,NaN

In [29]:
merge_data.to_clipboard()

In [38]:
clinicl_data = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/clinical_merge20220406.csv", index_col = 0)
clinicl_data

,clinical,time,time_day,status,T_pathological_subtype,NAT_pathological_subtype,iCCA_Pathology,age,gender,E/I,...,KRAS,PML,TET2,NF1,ARID2,MSH6,PBRM1,RBM47,FGFR2,IDH2
CCA_No,,,,,,,,,,,,,,,,,,,,,
CCA#32,14S25615,49.033333,1471.0,0.0,5-1+5-2+L+N(S),111,smallBD,66,FEMALE,intrahepatic,...,NaN,NaN,NaN,NaN,Splice_Site,NaN,NaN,NaN,NaN,NaN
CCA#33,14S26078,32.466667,974.0,1.0,5-1(N)(S),210,smallBD,33,MALE,intrahepatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FGFR2_fusion,NaN
CCA#34,14S26209,47.500000,1425.0,0.0,5-1(S),0-0-1,smallBD,54,FEMALE,intrahepatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCA#36,14S27582,23.466667,704.0,1.0,5-2+L(S),141,smallBD,37,MALE,intrahepatic,...,NaN,NaN,NaN,NaN,NaN,NaN,Splice_Site,NaN,NaN,NaN
CCA#37,14S28082,62.500000,1875.0,0.0,5-1(S),100,smallBD,66,FEMALE,intrahepatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CCA#210,18S32905,12.933333,388.0,1.0,5-1-AC,0-0-4-a,NaN,61,FEMALE,hilar/perihilar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCA#213,18S34338,17.766667,533.0,1.0,5-1-AC,NaN,NaN,75,MALE,hilar/perihilar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCA#214,18S35658,17.433333,523.0,1.0,5-1-AC,NaN,NaN,47,MALE,hilar/perihilar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCA#215,18S42281,10.033333,301.0,1.0,5-1-AC,0-0,NaN,62,FEMALE,hilar/perihilar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCA#216,18S53535,1.066667,32.0,1.0,5-1-AC,0-0,NaN,69,MALE,hilar/perihilar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
mutation = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/fig1b/onco_matrix(2022_03_26).csv",index_col =0)
mutation = mutation.T
mutation

gene_symbol,ARID1A,TP53,KMT2C,DPCR1,BAP1,MGA,KMT2A,KMT2D,APC,IDH1,...,KRAS,PML,TET2,NF1,ARID2,MSH6,PBRM1,RBM47,FGFR2,IDH2
CCAT24,Multi_Hit,Multi_Hit,NaN,NaN,NaN,NaN,Frame_Shift_Ins,Frame_Shift_Del,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Nonsense_Mutation,Missense_Mutation,NaN,NaN
CCAT68,Nonsense_Mutation,NaN,Missense_Mutation,Multi_Hit,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missense_Mutation,NaN
CCAT70,Multi_Hit,NaN,Nonsense_Mutation,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,...,NaN,Missense_Mutation,NaN,Splice_Site,NaN,NaN,NaN,NaN,NaN,NaN
CCAT33,Nonsense_Mutation,NaN,Missense_Mutation,NaN,NaN,NaN,NaN,NaN,Missense_Mutation,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missense_Mutation
CCAT104,Frame_Shift_Ins,NaN,Nonsense_Mutation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CCAT207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCAT212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCAT213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCAT99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCAT88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
FGFR2_fusion = pd.read_clipboard(index_col = 0)
FGFR2_fusion

         FGFR2_fusion
CCA_No
CCA#33   FGFR2-fusion
CCA#38   FGFR2-fusion
CCA#54   FGFR2-fusion
CCA#73   FGFR2-fusion
CCA#89   FGFR2-fusion
CCA#120  FGFR2-fusion
CCA#134  FGFR2-fusion
CCA#57   FGFR2-fusion
CCA#155  FGFR2-fusion

In [42]:
clinicl_data = pd.merge(clinicl_data, FGFR2_fusion, left_index = True, right_index = True, how = 'left')
clinicl_data.to_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/clinical_merge20220406.csv")

In [45]:
df = pd.read_clipboard()
df.Var1.tolist()

['BICC1',
 'AHCYL1',
 'ETV6',
 'INA',
 'KIAA1598',
 'PHLDB2',
 'VCL',
 'CBX5',
 'CCDC6',
 'CD58',
 'DDX60L',
 'FRK',
 'NRAP',
 'POLDIP3',
 'RRM2B',
 'SHROOM3',
 'SLC2A13',
 'SNTB1',
 'SUB1',
 'TFPT',
 'TTC28',
 'WAC']

## phosphosite data

In [86]:
def dropout_na(data, axis = 0,  dropna_thresh = 0.5):
    """drop the missing value in the row according to the threshold rate"""
    if axis == 0:
        data = data.dropna(axis=0, thresh = len(data.columns)*dropna_thresh)
    elif axis == 1:
        data = data.dropna(axis=1, thresh = len(data.index)*dropna_thresh)
    return data
    

def merge_two_dataframe(df1, df2, dropna_thresh = 0.1):
    # df1 = pd.read_csv(path1, index_col=0)
    df1 = dropout_na(df1, dropna_thresh = dropna_thresh)
    # df2 = pd.read_csv(path2, index_col=0)
    df2 = dropout_na(df2, dropna_thresh = dropna_thresh)
    merge = pd.merge(df1, df2, left_index=True, right_index = True, how='outer')
    return merge


def merge_multiple_dataframe(dfs):
    """
    Merge multiple dataframe by index
    
    Parameters:
    ------------
    dfs: list of dataframe

    Return:
    ------------
    Dataframe
    """
    return pd.concat(dfs, axis=1, join='outer')

def get_multi_group_experiment(sample_info, target = 'cohort'):
    sample_groups = list(set(sample_info[target]))
    for id, group in enumerate(sample_groups):
        print(f"The {id+1} group is: {group}")
        sample_groups[id] = sample_info.query(f'{target} == "{group}"')['phos_T'].tolist()
        print(f"The {group} group element is: {len(sample_groups[id])}\n")
    if len(sample_groups) == 2:
        return sample_groups[0], sample_groups[1]
    elif len(sample_groups) == 3:
        return sample_groups[0], sample_groups[1], sample_groups[2]
    elif len(sample_groups) == 4:
        return sample_groups[0], sample_groups[1], sample_groups[2], sample_groups[3]

In [59]:
clinical_data = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/Fig1/clinical_merge20220406.csv", index_col = 0)
clinical_data = clinical_data.dropna(subset=['phos_T'])
clinical_data.columns

Index(['clinical', 'time', 'time_day', 'status', 'T_pathological_subtype',
       'NAT_pathological_subtype', 'iCCA_Pathology', 'age', 'gender', 'E/I',
       'iCC_eCC', 'firT', 'gene_T', 'phos_T', 'phos_T_firmiana', 'firN',
       'gene_N', 'phos_N', 'RNA_T', 'RNA_N', 'phos_N_firmiana', 'PT', 'HBsAg',
       'HBcAb', 'HBV', 'GGT', 'ALT', 'Tbil', 'CA199', 'Cholelithiasis_1',
       'Type_2_diabetes', 'Hypertension', 'Presence_of_fluke_infection',
       'Perineural_invasion', 'Lymphovascular_invasion', 'G', 'S', 'F', 'T',
       'N', 'M', 'Stage', 'eccStage', 'iccStage', 'Grade', 'Age', 'Gender',
       'Pathology', 'Proteome_Subtype', 'Tumor_Sample_Barcode', 'total_perMB',
       'log2_TMB', 'Sig1', 'Sig2', 'Sig3', 'Sig4', '6p22.2 _Amp', '6q14.3_Del',
       '1q21.2_Amp', '6p21.2_Del', 'fir_T1', 'StromalScore', 'ImmuneScore',
       'ESTIMATEScore', 'TumorPurity', 'ImmuneScore_Xcell',
       'StromaScore_Xcell', 'MicroenvironmentScore_Xcell', 'Gene_ID',
       'Immune_CCP_Class', 'sample', 'CCP_Class', 'ARID1A', 'TP53', 'KMT2C',
       'DPCR1', 'BAP1', 'MGA', 'KMT2A', 'KMT2D', 'APC', 'IDH1', 'SMAD4', 'ATM',
       'NCOR1', 'EPHA2', 'KRAS', 'PML', 'TET2', 'NF1', 'ARID2', 'MSH6',
       'PBRM1', 'RBM47', 'FGFR2', 'IDH2', 'FGFR2_fusion'],
      dtype='object')

In [64]:
phospho_index = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/phospho_index.csv")
phospho_index

      phos_T   group
0    CCA_168  phos_T
1    CCA_223  phos_T
2     CCA_44  phos_T
3    CCA_171  phos_T
4    CCA_173  phos_T
..       ...     ...
325  CCA_385  phos_N
326  CCA_387  phos_N
327  CCA_391  phos_N
328  CCA_397  phos_N
329  CCA_399  phos_N

[330 rows x 2 columns]

In [83]:
phos_T,phos_N = get_multi_group_experiment(phospho_index, target = 'group')

The 1 group is: phos_T
The phos_T group element is: 167

The 2 group is: phos_N
The phos_N group element is: 163

In [84]:
phos_T.remove('CCA_81458')
phos_N.remove('CCA_351')

In [98]:
phosphosite = pd.read_csv("/Volumes/Samsung_T5/downloads/CCA/Metadata/phosphosite-mapping（2021-11-11）/PhosphoPreprocessy/results-ranpeng/merged_unique_phosphosite/PD_ptmRS_mapped_phosphosite_merged_2021_11_19.csv",index_col = 0)
# phosphosite.dropna(axis = 0, thresh = 10, inplace = True)
phos_T_data = phosphosite[phos_T]
phos_N_data = phosphosite[phos_N]
phosphosite_dropna20= merge_two_dataframe(phos_T_data, phos_N_data, dropna_thresh = 0.2)
phosphosite_dropna20.to_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/phosphosite_dropna20_20.csv")

In [99]:
def fot_transform(data = None, fill_NA = 'min_div_10'):
    """fill_NA : str : min_div_10 or e-5"""
    if fill_NA == 'min_div_10':
        fill_val = data.min().min()/10
    elif fill_NA == 'e-5':
        fill_val = 0.00001
    # data.replace(np.nan, fill_val, inplace=True)
    data_fot = data*10**5/data.sum()
    data_fot.replace(np.nan, fill_val, inplace=True)
    return data_fot

phosphosite_dropna20_FOT = fot_transform(phosphosite_dropna20, fill_NA = 'e-5')
phosphosite_dropna20_FOT

,CCA_168,CCA_223,CCA_44,CCA_171,CCA_173,CCA_195,CCA_197,CCA_404,CCA_446,CCA_202,...,CCA_413,CCA_375,CCA_379,CCA_401,CCA_383,CCA_385,CCA_387,CCA_391,CCA_397,CCA_399
Phosphosite,,,,,,,,,,,,,,,,,,,,,
2-Sep_S218,2850.577696,893.886739,5486.149173,1038.862821,722.160958,1227.864328,2959.479726,2856.849948,500.079576,2863.161860,...,4973.029413,1643.989117,1652.560139,4665.485342,2055.581951,3200.228164,882.215069,4255.962892,2466.800229,5301.968917
5-Sep_S225,20.453313,3.726586,20.478762,0.000010,0.000010,0.000010,67.746273,0.000010,348.810959,15.254328,...,32.903987,0.000010,14.035834,6.769228,0.000010,93.538220,0.000010,69.043252,0.000010,0.000010
8-Sep_S20,6.631469,0.000010,0.000010,0.000010,0.000010,0.000010,18.768868,0.000010,24.040888,0.000010,...,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010
9-Sep_S2,2.454421,3.284603,2.344765,0.000010,0.000010,3.674161,6.871357,0.000010,15.479041,2.499470,...,7.937996,3.829565,0.000010,10.010678,6.502030,7.355407,18.522875,8.643060,4.606432,6.314643
9-Sep_S23,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,...,0.000010,0.000010,0.000010,0.000010,0.000010,5.337148,0.000010,0.000010,0.000010,8.843465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYX_S308,19.345042,0.000010,16.341578,9.462242,9.551417,18.961528,25.456158,0.000010,0.000010,0.000010,...,0.000010,13.906670,22.879463,20.503774,0.000010,46.642265,0.000010,18.069693,17.157916,24.469116
ZYX_S344,68.093294,38.787802,0.000010,48.603116,18.246618,0.000010,0.000010,0.000010,0.000010,78.408255,...,47.777792,74.322832,275.135440,0.000010,123.684965,5.857645,0.000010,52.838852,97.082174,0.000010
ZZEF1_S1501,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,...,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010
ZZEF1_S1518,0.000010,1.934232,0.000000,2.274496,4.527607,18.765631,0.000000,0.000010,0.000010,0.000010,...,13.050951,6.883538,21.035644,20.842315,15.095124,22.677198,0.000010,8.102775,10.236205,18.082172
ZZEF1_T1521,6.469930,0.000010,0.000010,0.000010,6.156016,0.000010,0.000010,0.000010,0.000010,0.000010,...,12.481615,7.443787,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,6.004551

In [100]:
phosphosite_dropna20_FOT.to_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/phosphosite_dropna20_FOT.csv")

In [16]:
phosphoprotein = pd.read_csv("/Volumes/Samsung_T5/downloads/CCA/Metadata/phosphosite-mapping（2021-11-11）/PhosphoPreprocessy/results-ranpeng/merged_phosphoprotein_abundance/PD_ptmRS_mapped_phosphoprotein_merged_2021_11_19.csv")
phosphoprotein = phosphoprotein.drop(['GI'], axis = 1)
phosphoprotein = phosphoprotein.groupby(['GeneSymbol']).agg(np.sum).replace(0, np.nan)
# phosphoprotein.dropna(axis = 0, thresh = 10, inplace = True)
phosphoprotein

,CCA_46,CCA_138,CCA_185,CCA_340,CCA_438,CCA_117,CCA_307,CCA_121,CCA_391,CCA_309,...,CCA_206,CCA_356,CCA_447,CCA_219,CCA_236,CCA_216,CCA_143,CCA_131,CCA_257,CCA_209
GeneSymbol,,,,,,,,,,,,,,,,,,,,,
10-Sep,NaN,NaN,NaN,NaN,3.893293e+04,NaN,NaN,NaN,6.287052e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.569988e+04,NaN,7.111940e+04
11-Sep,NaN,NaN,NaN,NaN,2.347461e+04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14-Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2-Sep,3.923869e+07,9.727744e+06,NaN,3.169414e+07,3.342169e+07,737923.828767,2.197474e+07,1.140366e+07,5.851913e+07,2.717622e+07,...,3.039499e+07,4.897386e+07,6.738197e+06,2.240703e+07,637042.636986,1.182548e+07,259333.321918,1.407762e+07,2.774508e+07,2.261847e+07
3-Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZSWIM6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZXDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZYX,3.891613e+05,2.217244e+05,1.770057e+06,6.506517e+05,5.229412e+05,669361.694118,9.299114e+04,6.520921e+05,1.048580e+06,3.307137e+05,...,1.809295e+06,6.408770e+05,7.764207e+03,1.037561e+06,276780.681618,5.873108e+05,159516.023529,4.481040e+05,1.007322e+06,1.178853e+06
ZZEF1,9.433909e+03,2.307529e+03,NaN,4.615923e+03,5.851532e+04,4756.769981,NaN,4.097969e+04,2.778900e+04,NaN,...,5.677506e+04,1.337602e+04,6.060843e+03,2.324760e+04,11476.988791,3.087300e+04,NaN,8.294534e+03,2.185767e+04,4.380764e+04
ZZZ3,NaN,6.054303e+03,4.678179e+03,NaN,NaN,4138.191549,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## FGFR2 alteration on multiomics

In [41]:
protein_DEP = pd.read_clipboard()
protein_DEP

      CCA_No iCC_eCC   gene_T         FGFR2 FGFR2_altered FGFR2_Mut
0     CCA#32   aiCCA   CCAT10           NaN            WT        WT
1     CCA#33   aiCCA   CCAT11  FGFR2_fusion  FGFR2_fusion        WT
2     CCA#34   aiCCA   CCAT12           NaN            WT        WT
3     CCA#36   aiCCA   CCAT14           NaN            WT        WT
4     CCA#37   aiCCA   CCAT15           NaN            WT        WT
..       ...     ...      ...           ...           ...       ...
134  CCA#206    eCCA  CCAT212           NaN            WT        WT
135  CCA#207    eCCA  CCAT213           NaN            WT        WT
136  CCA#210    eCCA  CCAT215           NaN            WT        WT
137  CCA#215    eCCA  CCAT219           NaN            WT        WT
138  CCA#216    eCCA  CCAT220           NaN            WT        WT

[139 rows x 6 columns]

In [47]:
# RNA_DEP = pd.read_clipboard()
RNA_DEP = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/protein_Tumor_217patients_Delna30%_update.csv",index_col = 0)
RNA_DEP = RNA_DEP.T
RNA_DEP

Gene_symbol,SPTBN2,THOC5,HEXB,LOC101060714,NAT10,SBF2,HMOX2,KIAA1217,MYH10,CIAPIN1,...,RASAL1,EFCAB4A,BOD1L2,SCARF2,KMT2A,AOC1,MIA,FRZB,DCBLD1,ORC5
60477,0.4150,0.58200,6.7669,1.0879,0.15340,0.00001,2.0303,0.5868,14.9951,0.73510,...,0.02130,0.00001,0.08590,0.18540,0.04260,1.73460,0.00001,0.00001,0.02980,0.00001
60479,0.2779,0.00001,2.4411,1.4213,0.08460,0.05450,0.6071,0.0972,10.4064,0.19550,...,0.85860,0.00001,0.00001,0.07150,0.00001,0.21130,0.00001,0.55330,0.00001,0.00001
60481,0.5701,0.05760,7.5829,0.0188,0.19040,0.00001,0.4491,0.1894,20.4505,0.00001,...,0.03450,0.00001,0.00001,0.00001,0.00001,0.00001,1.12040,7.53260,0.00001,0.00001
68986,0.8303,0.10340,4.6843,0.2625,0.20400,0.10140,0.3551,0.3030,30.6690,0.15910,...,0.25620,0.00001,0.19610,0.00001,0.02820,0.00001,0.31700,0.00001,0.07620,0.00001
60487,0.5435,0.21470,3.1222,1.1148,0.29140,0.00001,0.7179,0.3605,12.1950,0.81810,...,0.01810,0.00001,0.09110,0.00001,0.00001,0.09560,0.00001,0.00001,0.00001,0.00001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71273,0.5854,0.17810,9.5360,3.6731,0.19630,0.00001,0.9996,0.6082,27.1376,0.12950,...,0.07040,0.00001,0.10940,0.00001,0.00001,0.96210,0.00001,30.83710,0.00001,0.00001
71275,0.6261,0.49530,5.2581,0.0758,0.17430,0.00001,2.8888,0.3090,20.6058,1.41630,...,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.01130,0.00001
71297,0.5890,0.04550,2.1622,1.3701,0.13760,0.01830,0.4200,0.1318,20.8689,0.00001,...,0.11450,0.00001,0.00001,0.05630,0.00001,0.00001,0.95130,12.69480,0.03220,0.00001
71303,1.9376,4.25950,12.4755,0.8930,0.25650,0.07640,2.5657,0.9125,21.4590,0.15310,...,0.23430,0.00001,0.00001,0.12650,0.02850,0.00001,0.00001,0.00001,0.11670,0.11590
71316,1.0398,0.18730,5.1654,0.8995,0.00001,0.00001,0.8611,0.2972,24.4830,0.00001,...,0.00001,0.00001,0.00001,0.12630,0.03690,0.00001,0.00001,13.92280,0.00840,0.00001

In [45]:
merge = pd.merge(protein_DEP, RNA_DEP, on = 'CCA_No', how = 'left')
merge
merge.to_clipboard()
# merge.to_excel("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/response/FGFR2_data/other_drug_targrt_kinase/FGFR2_fusion_kinase_tumor.xlsx")

## 根据基因名获取 GaoQ的iCCA的RNA和Protein数据

In [153]:
# Replace all non NA values with 1 in the gene mutation matrix
def convert_mutation_matrix(mutation_matrix, ignore_cols=None):
    """ Convert mutation matrix to binary matrix
    Args:
    --------------
    mutation_matrix -> Dataframe: dataframe of raw data
    ignore_cols -> list: list of columns to ignore
    
    Return:
    -----------
    Dataframe: binary mutation matrix
    
    """
    if ignore_cols:
        mutation_matrix_sub= mutation_matrix.drop(ignore_cols, axis=1)
        mutation_matrix_binary = mutation_matrix_sub.notnull().mul(1)
        mutation_matrix_binary = mutation_matrix_binary.join(mutation_matrix[ignore_cols])
    else:
        mutation_matrix_binary = mutation_matrix.notnull().mul(1)
    return mutation_matrix_binary

# mutation_matrix_binary = convert_mutation_matrix(gene_mutation, ignore_cols=['6p22.2 _Amp', '6q14.3_Del', '1q21.2_Amp', '6p21.2_Del'])

In [150]:
mutation = pd.read_excel("/Volumes/Samsung_T5/downloads/CCA/Revised_data/iCCA_data/1-s2.0-S1535610821006590-mmc2.xlsx",sheet_name='WES_mutation',index_col = 0)
mutation

,111,113,115,117,121,123,125,127,131,133,...,965,971,973,975,977,981,983,987,993,995
Gene,,,,,,,,,,,,,,,,,,,,,
A2M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A2ML1,NaN,NaN,missense_variant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A3GALT2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A4GALT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,missense_variant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,missense_variant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZXDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZYG11A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZEF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZZ3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
Gao_RNA = pd.read_excel("/Volumes/Samsung_T5/downloads/CCA/Revised_data/iCCA_data/1-s2.0-S1535610821006590-mmc2.xlsx",sheet_name='S1C. mRNA expression',skiprows=1,index_col = 0)
Gao_RNA

,111,113,115,117,121,123,125,127,131,133,...,965,971,973,975,977,981,983,987,993,995
Sample ID Gene,,,,,,,,,,,,,,,,,,,,,
A1BG,1.858,3.040,7.494,7.845,4.622,7.970,5.184,4.882,4.574,4.284,...,8.302,6.743,9.495,2.339,3.784,5.273,6.715,2.177,5.106,3.418
A1CF,5.237,6.905,6.929,7.281,6.765,6.195,3.292,0.820,0.571,3.067,...,5.806,7.292,7.142,5.438,4.208,4.956,6.945,7.016,4.478,3.669
A2M,9.471,5.513,11.428,7.781,9.267,9.014,8.511,8.467,8.422,8.395,...,8.402,8.918,8.751,7.075,7.655,6.952,10.157,7.140,8.040,6.198
A2ML1,0.400,0.453,0.044,0.493,0.272,0.266,0.060,0.199,1.263,2.155,...,0.262,4.560,2.086,0.127,0.113,0.295,0.259,1.225,0.092,0.121
A3GALT2,0.000,0.000,0.000,0.558,0.000,0.425,0.000,0.779,0.820,0.578,...,0.000,4.602,0.000,0.000,0.000,0.000,0.000,1.609,0.135,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,2.257,0.050,1.159,0.488,0.017,0.981,0.272,0.177,0.252,0.502,...,0.371,3.156,0.930,0.230,0.458,0.123,0.316,1.141,0.177,0.039
ZYG11B,4.767,4.192,4.425,5.341,5.118,5.069,4.834,4.402,4.700,4.605,...,4.307,5.041,4.125,5.122,5.830,4.866,4.803,5.946,5.255,4.717
ZYX,7.235,6.153,5.510,5.725,5.557,6.470,7.309,7.831,7.475,6.394,...,6.527,6.244,6.016,6.115,6.366,6.650,6.255,5.466,6.458,6.924
ZZEF1,4.536,4.581,4.932,5.525,4.640,4.719,4.067,5.912,4.829,4.714,...,4.268,5.514,5.889,5.361,5.134,4.729,4.673,4.723,5.307,5.492
ZZZ3,6.238,5.381,5.579,6.276,6.545,5.920,6.514,5.510,5.889,5.539,...,5.758,6.268,6.106,6.778,7.398,6.970,6.417,7.139,7.094,7.094

In [152]:
Gao_Protein = pd.read_excel("/Volumes/Samsung_T5/downloads/CCA/Revised_data/iCCA_data/1-s2.0-S1535610821006590-mmc2.xlsx",sheet_name='S1D. proteins expression',index_col=0)
Gao_Protein

,343,347,427,457,483,517,565,567,631,977,...,685,871,877,921,941,313,451,477,937,973
gene,,,,,,,,,,,,,,,,,,,,,
IGLV4-69,-0.322148,0.310493,-0.150599,0.389554,-0.097170,0.362099,-1.387735,2.123897,-0.860598,0.088658,...,0.540278,0.466826,-0.083960,0.288092,0.721971,0.708348,-0.028950,1.651293,-0.275592,-0.514483
IGLV4-60,0.617958,1.276736,0.732487,0.684719,0.214070,1.386579,-0.718640,2.076481,0.317729,-0.659366,...,0.779837,1.123465,-1.295222,0.353970,-0.518821,-0.668263,0.226072,1.997835,0.194195,-2.465631
IGLV2-18,1.314843,0.571584,-0.355496,0.015987,0.181447,-0.067066,-0.089835,1.593035,-0.887583,-0.022912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IGKV2-24,2.281696,-0.193127,0.475504,0.273274,-0.376766,0.388647,-0.821194,2.407821,-0.521771,1.555976,...,1.612283,1.012515,-0.314572,0.123734,0.439615,-0.984390,0.049765,1.349704,-0.763469,-1.372083
IGKV1-27,-1.235518,-3.101656,-0.143162,1.139201,0.103316,-0.227718,-1.324953,2.100349,-1.131034,0.886592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZHX2,-0.410286,-0.402429,-0.242164,0.544903,-0.290224,0.698199,-0.540581,0.987055,0.069813,0.623566,...,-0.358591,-0.233141,0.352246,-0.231596,-0.058400,-0.278806,-0.028731,-0.116000,0.075815,-0.197899
MORC2,-0.164691,-0.115446,-0.099176,0.593464,-0.030111,0.311874,-0.352525,0.164908,-0.199814,-0.013084,...,-0.115802,-0.050379,0.124618,0.088184,-0.030405,0.276336,-0.065119,-0.389864,0.298120,-0.322811
IVNS1ABP,-0.185227,-0.022266,-0.498620,0.718138,-0.618759,0.637264,0.863240,0.806342,0.244324,-0.226293,...,-0.157460,-0.669294,-0.320168,0.490745,-0.340876,0.415755,0.756311,-0.138458,-0.047522,0.065514
SEC23IP,-0.216567,-0.315122,0.097647,0.217758,0.648922,-0.170416,0.697879,0.133271,-0.471006,-0.023753,...,0.066674,-0.083715,0.247584,-0.308163,-0.071050,-0.062783,-0.111977,0.059604,0.307430,0.192005
COLEC10,-1.447299,0.650108,-0.070559,-0.227561,-0.702608,0.446978,-1.213265,1.697982,-0.630492,0.238884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
mutation_matrix_binary = convert_mutation_matrix(mutation)
mut_dic = {0: 'WT', 1: 'Mutation'}
mutation_matrix_binary = mutation_matrix_binary.replace(mut_dic)

In [220]:
Gao_RNA=pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/iCCA_GaoData/Dong_RNA.csv",index_col = 0)
Gao_RNA

,111,113,115,117,121,123,125,127,131,133,...,965,971,973,975,977,981,983,987,993,995
A1BG,1.858,3.040,7.494,7.845,4.622,7.970,5.184,4.882,4.574,4.284,...,8.302,6.743,9.495,2.339,3.784,5.273,6.715,2.177,5.106,3.418
A1CF,5.237,6.905,6.929,7.281,6.765,6.195,3.292,0.820,0.571,3.067,...,5.806,7.292,7.142,5.438,4.208,4.956,6.945,7.016,4.478,3.669
A2M,9.471,5.513,11.428,7.781,9.267,9.014,8.511,8.467,8.422,8.395,...,8.402,8.918,8.751,7.075,7.655,6.952,10.157,7.140,8.040,6.198
A2ML1,0.400,0.453,0.044,0.493,0.272,0.266,0.060,0.199,1.263,2.155,...,0.262,4.560,2.086,0.127,0.113,0.295,0.259,1.225,0.092,0.121
A3GALT2,0.000,0.000,0.000,0.558,0.000,0.425,0.000,0.779,0.820,0.578,...,0.000,4.602,0.000,0.000,0.000,0.000,0.000,1.609,0.135,0.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,2.257,0.050,1.159,0.488,0.017,0.981,0.272,0.177,0.252,0.502,...,0.371,3.156,0.930,0.230,0.458,0.123,0.316,1.141,0.177,0.039
ZYG11B,4.767,4.192,4.425,5.341,5.118,5.069,4.834,4.402,4.700,4.605,...,4.307,5.041,4.125,5.122,5.830,4.866,4.803,5.946,5.255,4.717
ZYX,7.235,6.153,5.510,5.725,5.557,6.470,7.309,7.831,7.475,6.394,...,6.527,6.244,6.016,6.115,6.366,6.650,6.255,5.466,6.458,6.924
ZZEF1,4.536,4.581,4.932,5.525,4.640,4.719,4.067,5.912,4.829,4.714,...,4.268,5.514,5.889,5.361,5.134,4.729,4.673,4.723,5.307,5.492
ZZZ3,6.238,5.381,5.579,6.276,6.545,5.920,6.514,5.510,5.889,5.539,...,5.758,6.268,6.106,6.778,7.398,6.970,6.417,7.139,7.094,7.094

In [221]:
Mut = pd.DataFrame(mutation_matrix_binary.loc['SMAD4']).rename(columns={'SMAD4':'Mutation'}).sort_values(by='Mutation')
RNA_1 = pd.DataFrame(Gao_RNA.loc['SMAD4']).rename(columns={'SMAD4':'RNA'})
Protein = pd.DataFrame(Gao_Protein.loc['SMAD4']).rename(columns={'SMAD4':'Protein'})

In [222]:
merge1 = pd.merge(Mut, RNA_1, left_index = True, right_index = True, how = 'left')
# merge2 = pd.merge(merge1, Protein, left_index = True, right_index = True, how = 'left')

In [196]:
Gao_Protein.to_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/iCCA_GaoData/Dong_Protein.csv")

In [223]:
merge1

     Mutation  RNA
351  Mutation  NaN
685  Mutation  NaN
281  Mutation  NaN
453  Mutation  NaN
465  Mutation  NaN
..        ...  ...
385        WT  NaN
387        WT  NaN
391        WT  NaN
357        WT  NaN
995        WT  NaN

[253 rows x 2 columns]

In [207]:
def merge_multiple_dataframe(dfs):
    """
    Merge multiple dataframe by index
    
    Parameters:
    ------------
    dfs: list of dataframe

    Return:
    ------------
    Dataframe
    """
    return pd.concat(dfs, axis=1, join='outer')

In [210]:
dfs = [Mut,RNA,Protein]
merge_multiple_dataframe(dfs)

    Mutation    RNA   Protein
111       WT    NaN       NaN
113       WT    NaN       NaN
115       WT    NaN -0.089229
117       WT    NaN  0.789973
121       WT    NaN -0.157761
..       ...    ...       ...
981      NaN  7.512       NaN
983      NaN  7.124       NaN
987      NaN  7.342       NaN
993      NaN  6.914       NaN
995      NaN  6.883       NaN

[515 rows x 3 columns]

In [230]:
df = pd.read_csv("/Volumes/Samsung_T5/downloads/CCA/CCA_mapping_data/protein_Tumor_217patients_15901_genes_1.csv",index_col=0)
df

,SPTBN2,THOC5,HEXB,LOC101060714,NAT10,SBF2,HMOX2,KIAA1217,CLC,MYH10,...,CHIA,SETBP1,MAMDC4,SLC29A2,FOXN4,TTLL7,HPSE2,ALG1L,FAM166A,PRSS37
index,,,,,,,,,,,,,,,,,,,,,
60477,0.4150,0.5820,6.7669,1.0879,0.1534,0.0000,2.0303,0.5868,0.4123,14.9951,...,0,0,0,0,0,0,0,0,0,0
60479,0.2779,0.0000,2.4411,1.4213,0.0846,0.0545,0.6071,0.0972,0.0000,10.4064,...,0,0,0,0,0,0,0,0,0,0
60481,0.5701,0.0576,7.5829,0.0188,0.1904,0.0000,0.4491,0.1894,0.0000,20.4505,...,0,0,0,0,0,0,0,0,0,0
68986,0.8303,0.1034,4.6843,0.2625,0.2040,0.1014,0.3551,0.3030,0.0000,30.6690,...,0,0,0,0,0,0,0,0,0,0
60487,0.5435,0.2147,3.1222,1.1148,0.2914,0.0000,0.7179,0.3605,0.0000,12.1950,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71273,0.5854,0.1781,9.5360,3.6731,0.1963,0.0000,0.9996,0.6082,0.0000,27.1376,...,0,0,0,0,0,0,0,0,0,0
71275,0.6261,0.4953,5.2581,0.0758,0.1743,0.0000,2.8888,0.3090,13.4345,20.6058,...,0,0,0,0,0,0,0,0,0,0
71297,0.5890,0.0455,2.1622,1.3701,0.1376,0.0183,0.4200,0.1318,0.0000,20.8689,...,0,0,0,0,0,0,0,0,0,0
71303,1.9376,4.2595,12.4755,0.8930,0.2565,0.0764,2.5657,0.9125,6.1505,21.4590,...,0,0,0,0,0,0,0,0,0,0
71316,1.0398,0.1873,5.1654,0.8995,0.0000,0.0000,0.8611,0.2972,2.9855,24.4830,...,0,0,0,0,0,0,0,0,0,0

In [231]:
df = df.T
df

index,60477,60479,60481,68986,60487,68990,68992,69000,69002,69006,...,71239,71241,71247,71265,71272,71273,71275,71297,71303,71316
SPTBN2,0.4150,0.2779,0.5701,0.8303,0.5435,0.6761,0.5223,0.8496,0.9444,1.0052,...,0.2494,0.4637,0.6799,0.6742,1.8274,0.5854,0.6261,0.5890,1.9376,1.0398
THOC5,0.5820,0.0000,0.0576,0.1034,0.2147,0.0628,0.1495,0.1106,0.0000,0.2622,...,1.8924,0.2549,0.3192,0.0359,0.2527,0.1781,0.4953,0.0455,4.2595,0.1873
HEXB,6.7669,2.4411,7.5829,4.6843,3.1222,9.3554,2.4446,4.7669,7.8328,37.6494,...,2.4024,10.3588,9.4988,7.2163,2.5022,9.5360,5.2581,2.1622,12.4755,5.1654
LOC101060714,1.0879,1.4213,0.0188,0.2625,1.1148,0.3913,0.0704,0.3615,1.2044,0.4409,...,3.0501,6.5905,0.2757,1.4546,0.6557,3.6731,0.0758,1.3701,0.8930,0.8995
NAT10,0.1534,0.0846,0.1904,0.2040,0.2914,0.7610,0.2000,0.4066,0.0882,0.2749,...,0.3679,0.0000,0.3842,0.1033,0.1291,0.1963,0.1743,0.1376,0.2565,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTLL7,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
HPSE2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
ALG1L,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
FAM166A,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
PRSS37,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [232]:
df.to_csv("/Volumes/Samsung_T5/downloads/CCA/CCA_mapping_data/protein_Tumor_217patients_15901_genes_all.csv")

In [5]:
df = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/response/response_R2C5/NMF_heatmap_Dong_data.csv",index_col=0)
df = df.dropna(axis = 0)
df

,343,347,427,457,483,517,565,567,631,977,...,685,871,877,921,941,313,451,477,937,973
gene,,,,,,,,,,,,,,,,,,,,,
DDT,-0.934985,0.333562,0.968766,-0.158885,-0.371772,0.297961,0.644945,-0.133558,-0.181094,-0.610809,...,-0.518170,-0.251190,0.370983,-1.008615,-0.309314,-0.013391,-0.132094,-0.580488,1.027200,0.444092
NPM1,-0.293968,-0.199244,-0.156133,0.153096,-0.277147,0.372362,0.542857,-0.562428,0.327335,0.359428,...,-0.564797,-0.558896,-0.461399,-0.215990,-0.129130,0.217065,0.024679,-0.034447,0.330736,-0.213225
CBX1,0.502309,0.043160,-0.036187,0.328068,-0.481594,-0.062336,-0.516984,-0.462691,0.807450,0.120033,...,-0.212491,0.172696,0.111579,0.132291,0.310335,0.073627,-0.115781,-0.008673,-0.201426,-0.230859
ATP5J2,-0.321240,0.055391,-0.071773,-0.273475,-0.206569,-0.059022,0.306893,-0.690711,-0.451338,-0.298794,...,-0.461039,-0.257532,-0.046825,0.019675,-0.195884,-0.179898,-0.268506,-0.080074,0.444216,0.356461
DLD,0.262804,0.070269,0.381051,-0.539054,0.188731,-0.643112,0.319929,-0.303298,-0.222017,-0.071408,...,0.126059,-0.104305,0.472344,0.295248,-0.059383,0.077605,-0.454669,-0.534193,0.093638,0.617324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CP,-0.898541,-0.453398,-0.319780,0.100082,0.851039,-0.211063,-0.479100,1.696704,0.187695,0.923437,...,0.358614,0.767790,-0.000790,-0.252372,-0.020349,0.579693,0.010281,1.070253,-0.664373,-0.289616
HSPB6,-0.898411,1.750706,0.157757,-0.758260,-0.355827,0.347819,-0.479116,-0.039313,-1.225684,0.320148,...,-0.473541,1.851098,-0.955248,-1.215570,-0.374848,0.649817,-0.925404,3.136812,-0.087153,-0.099645
APOH,-2.546149,-2.043267,-0.330828,1.720651,1.263397,0.331634,-1.434841,1.624023,-1.525622,1.272805,...,0.997314,1.999642,0.382727,0.818756,0.932947,1.863749,0.130828,2.824162,1.119558,-0.972425
C8G,-1.024417,0.366831,-0.492931,0.356748,0.049328,-0.183207,0.034173,2.314713,-0.358994,0.284137,...,-0.040349,1.285376,-0.475798,0.788082,-0.044285,0.665936,-0.156206,1.168226,-0.076926,-0.793050
APOA1,-1.099282,0.207125,0.075676,0.328246,-0.157739,0.561204,-0.519183,2.479433,-0.317958,0.182954,...,0.141038,0.350679,-0.690942,-0.127101,-0.333321,0.465993,0.314665,1.701816,-0.131513,-0.852302

In [7]:
df.to_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/response/response_R2C5/NMF_heatmap_Dong_data_dropna.csv")

## Proteome subtype compare

In [24]:
df = pd.read_clipboard(index_col = 0)
df

           Protein subgroup HC_cluster pam_cluster km_cluster
Patient_ID
115                      S4  Cluster_1   Cluster_1  Cluster_2
117                      S3  Cluster_3   Cluster_2  Cluster_1
121                      S4  Cluster_1   Cluster_2  Cluster_1
123                      S3  Cluster_3   Cluster_2  Cluster_1
125                      S1  Cluster_1   Cluster_1  Cluster_1
...                     ...        ...         ...        ...
977                      S2  Cluster_2   Cluster_3  Cluster_3
981                      S2  Cluster_1   Cluster_1  Cluster_2
983                      S4  Cluster_1   Cluster_2  Cluster_1
993                      S2  Cluster_2   Cluster_3  Cluster_3
995                      S2  Cluster_2   Cluster_3  Cluster_3

[208 rows x 4 columns]

In [20]:
pd.crosstab(df['Protein subgroup'], df['pam_cluster'], margins=True)

pam_cluster       Cluster_1  Cluster_2  Cluster_3  All
Protein subgroup
S1                       35          4          1   40
S2                       12          1         46   59
S3                        6         37          0   43
S4                       46          7         13   66
All                      99         49         60  208

In [21]:
pd.crosstab(df['Protein subgroup'], df['HC_cluster'], margins=True)

HC_cluster        Cluster_1  Cluster_2  Cluster_3  All
Protein subgroup
S1                       25         14          1   40
S2                        5         53          1   59
S3                       12          4         27   43
S4                       55          9          2   66
All                      97         80         31  208

In [25]:
pd.crosstab(df['Protein subgroup'], df['km_cluster'], margins=True)

km_cluster        Cluster_1  Cluster_2  Cluster_3  All
Protein subgroup
S1                        3         36          1   40
S2                        0         10         49   59
S3                       32         11          0   43
S4                        6         40         20   66
All                      41         97         70  208

## Fusion data merge

In [21]:
fuison_events = pd.DataFrame()
fuison_events

Empty DataFrame
Columns: []
Index: []

In [26]:
filepath = '/Volumes/Samsung_T5/downloads/arriba_fusion/CCA_fusion_res/R21023755-F13-4-4_combined_arriba_result'
sample = filepath.split('/')[-1].split('_')[0]
sample

'R21023755-F13-4-4'

In [3]:
def get_confidence_medium(data):
    data_CI_medium = data.loc[data['confidence'] != 'low']
    return data_CI_medium

## merge_table

In [85]:
# RNA_DEP = pd.read_clipboard()
RNA_DEP = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/RNA_T_del50%_update.csv")
# RNA_DEP = RNA_DEP.T
RNA_DEP

,CCA_No,RNA_T,A1BG,A1BG-AS1,A1CF,A2M,A4GALT,AAAS,AACS,AADAC,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,CCA#32,R21023766_F13_15_15,2.482263,0.000000,2.342859,54.270782,4.338752,11.018165,2.937222,3.576416,...,1.381428,1.099909,0.000000,2.080416,5.473224,14.292635,3.552387,37.692499,6.775571,4.304131
1,CCA#33,R21023768_F13_17_17,14.801243,1.489376,8.167996,61.212448,1.540755,9.473607,3.282817,11.048228,...,2.333769,0.000000,2.967159,1.551444,1.534426,9.778509,3.194510,48.922789,9.462393,5.296664
2,CCA#34,R21023770_F13_19_19,2.950100,0.000000,6.482440,243.597229,2.153365,10.869014,1.786835,2.773550,...,2.368219,1.257432,0.000000,2.499834,2.473518,13.018925,10.461644,26.778681,6.985688,8.470585
3,CCA#36,R21023774_F13_23_23,19.177736,3.615062,10.636040,130.583313,7.886182,10.154032,4.209086,4.374398,...,1.091663,2.204793,7.244583,1.038348,2.481321,12.913833,2.880344,40.825466,9.277813,5.217473
4,CCA#37,R21023776_F13_25_25,16.759157,0.527375,8.092555,31.598635,0.607967,13.782495,3.997822,13.965277,...,2.122720,3.361009,5.017882,2.365423,4.622473,12.610828,3.208009,30.330749,7.434538,7.414189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,CCA#205,R21026762_F19_1_189,0.000000,0.000000,1.031801,103.614319,9.520439,9.225285,2.958811,10.538114,...,2.377779,1.578787,0.000000,1.546877,5.765495,4.816718,3.755517,44.623051,6.184606,9.407421
121,CCA#206,R21026759_F18_29_187,0.924745,0.946679,1.043208,110.388741,10.128789,5.951885,2.654285,3.368547,...,2.332632,2.337595,0.608059,1.457620,2.238505,8.578899,3.731103,53.928669,7.265322,4.346976
122,CCA#210,R21026755_F18_25_183,1.819281,1.956194,0.227003,82.351791,8.689855,7.628947,4.792872,2.700780,...,2.416152,1.769939,2.445274,1.795810,2.343420,9.823513,3.789178,51.305584,9.673623,4.156439
123,CCA#216,R21026749_F18_19_177,2.498373,0.945840,0.404908,71.024300,7.194526,5.064844,2.290772,0.735186,...,2.545646,0.796574,0.672445,2.089931,2.675452,9.349943,4.045159,43.659984,8.319302,4.847485
124,NaN,count,102.000000,77.000000,98.000000,123.000000,113.000000,112.000000,111.000000,91.000000,...,91.000000,76.000000,83.000000,99.000000,117.000000,120.000000,119.000000,121.000000,121.000000,119.000000

In [82]:
df2 = pd.read_clipboard()
df2

      CCA_No                 RNA_T
0     CCA#32   R21023766_F13_15_15
1     CCA#33   R21023768_F13_17_17
2     CCA#34   R21023770_F13_19_19
3     CCA#36   R21023774_F13_23_23
4     CCA#37   R21023776_F13_25_25
..       ...                   ...
212  CCA#210  R21026755_F18_25_183
213  CCA#213                   NaN
214  CCA#214                   NaN
215  CCA#215                   NaN
216  CCA#216  R21026749_F18_19_177

[217 rows x 2 columns]

In [83]:
merge = pd.merge(RNA_DEP, df2, left_index = True, right_on = 'RNA_T', how = 'left')
merge

,A1BG,A1BG-AS1,A1CF,A2M,A4GALT,AAAS,AACS,AADAC,AAGAB,AAK1,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3,CCA_No,RNA_T
0.0,2.482263,0.000000,2.342859,54.270782,4.338752,11.018165,2.937222,3.576416,6.172215,3.707390,...,0.000000,2.080416,5.473224,14.292635,3.552387,37.692499,6.775571,4.304131,CCA#32,R21023766_F13_15_15
1.0,14.801243,1.489376,8.167996,61.212448,1.540755,9.473607,3.282817,11.048228,5.305762,5.166817,...,2.967159,1.551444,1.534426,9.778509,3.194510,48.922789,9.462393,5.296664,CCA#33,R21023768_F13_17_17
2.0,2.950100,0.000000,6.482440,243.597229,2.153365,10.869014,1.786835,2.773550,6.370414,10.739741,...,0.000000,2.499834,2.473518,13.018925,10.461644,26.778681,6.985688,8.470585,CCA#34,R21023770_F13_19_19
3.0,19.177736,3.615062,10.636040,130.583313,7.886182,10.154032,4.209086,4.374398,5.352549,4.352500,...,7.244583,1.038348,2.481321,12.913833,2.880344,40.825466,9.277813,5.217473,CCA#36,R21023774_F13_23_23
4.0,16.759157,0.527375,8.092555,31.598635,0.607967,13.782495,3.997822,13.965277,8.031412,5.050264,...,5.017882,2.365423,4.622473,12.610828,3.208009,30.330749,7.434538,7.414189,CCA#37,R21023776_F13_25_25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208.0,0.000000,0.000000,1.031801,103.614319,9.520439,9.225285,2.958811,10.538114,6.489465,7.469799,...,0.000000,1.546877,5.765495,4.816718,3.755517,44.623051,6.184606,9.407421,CCA#205,R21026762_F19_1_189
209.0,0.924745,0.946679,1.043208,110.388741,10.128789,5.951885,2.654285,3.368547,7.943034,4.446211,...,0.608059,1.457620,2.238505,8.578899,3.731103,53.928669,7.265322,4.346976,CCA#206,R21026759_F18_29_187
212.0,1.819281,1.956194,0.227003,82.351791,8.689855,7.628947,4.792872,2.700780,5.317140,5.321443,...,2.445274,1.795810,2.343420,9.823513,3.789178,51.305584,9.673623,4.156439,CCA#210,R21026755_F18_25_183
216.0,2.498373,0.945840,0.404908,71.024300,7.194526,5.064844,2.290772,0.735186,6.940898,4.911630,...,0.672445,2.089931,2.675452,9.349943,4.045159,43.659984,8.319302,4.847485,CCA#216,R21026749_F18_19_177
NaN,102.000000,77.000000,98.000000,123.000000,113.000000,112.000000,111.000000,91.000000,122.000000,120.000000,...,83.000000,99.000000,117.000000,120.000000,119.000000,121.000000,121.000000,119.000000,NaN,count

In [90]:
df = pd.read_csv("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/protein_Tumor_217patients_Delna30%_update.csv")
df

,CCA_No,sample,SPTBN2,THOC5,HEXB,LOC101060714,NAT10,SBF2,HMOX2,KIAA1217,...,SCARF2,KMT2A,AOC1,MIA,FRZB,DCBLD1,ORC5,FGFR2_protein,SMAD4_Protein,ARID1A_Protein
0,CCA#1,60477,0.4150,0.58200,6.7669,1.08790,0.1534,0.00001,2.0303,0.5868,...,0.18540,0.04260,1.73460,0.00001,0.00001,0.02980,0.00001,NaN,NaN,NaN
1,CCA#10,68990,0.6761,0.06280,9.3554,0.39130,0.7610,0.00001,3.7011,0.2044,...,0.00001,0.00800,0.00001,0.00001,0.00001,0.00001,1.79910,NaN,NaN,NaN
2,CCA#100,60415,0.7017,0.43260,2.2751,1.03900,2.3052,0.00001,1.3033,0.1362,...,0.00001,0.02820,0.00001,0.70880,0.00001,0.15800,0.34380,NaN,NaN,NaN
3,CCA#101,60426,1.1873,0.24680,5.4907,1.61680,0.5595,0.00001,0.5456,0.1300,...,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.07460,0.05060
4,CCA#102,60472,0.4172,0.59570,2.4497,0.44750,0.2207,0.00001,0.7572,0.3033,...,0.05510,0.04300,0.01380,0.00001,24.58300,0.00001,0.10960,0.26660,NaN,0.04200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,CCA#95,60459,0.5905,0.71020,3.9146,0.13060,0.2140,0.00001,0.5530,0.1033,...,0.24210,0.05570,0.00001,0.00001,27.25470,0.00001,0.00001,0.03280,0.01630,0.00001
213,CCA#96,60442,0.9314,0.00001,6.0447,0.25890,0.2335,0.00470,0.3073,0.0910,...,0.18110,0.00001,0.00001,0.00001,1.08150,0.00001,0.00001,0.19660,0.00001,0.05850
214,CCA#97,69053,0.4662,0.14140,2.3220,0.09310,0.1989,0.00620,0.9929,0.2970,...,0.08440,0.00001,0.00001,0.96860,0.00001,0.28400,0.00001,NaN,NaN,NaN
215,CCA#98,60428,0.6638,0.85650,13.3770,0.19800,1.5977,0.00001,0.2248,0.1493,...,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.28190,0.00001,0.09650,0.00001
216,CCA#99,60412,0.5433,0.27270,1.5538,0.00001,0.0894,0.00001,2.1018,0.1781,...,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.48810,0.03070,0.00001

In [96]:
df['num'] = df['CCA_No'].str.split('#', expand=True)[1]
df['num'] = df['num'].astype(int)
df = df.sort_values(by = 'num')
df

,CCA_No,sample,SPTBN2,THOC5,HEXB,LOC101060714,NAT10,SBF2,HMOX2,KIAA1217,...,KMT2A,AOC1,MIA,FRZB,DCBLD1,ORC5,FGFR2_protein,SMAD4_Protein,ARID1A_Protein,num
0,CCA#1,60477,0.4150,0.58200,6.7669,1.08790,0.15340,0.00001,2.0303,0.5868,...,0.04260,1.73460,0.00001,0.00001,0.02980,0.00001,NaN,NaN,NaN,1
111,CCA#2,60479,0.2779,0.00001,2.4411,1.42130,0.08460,0.05450,0.6071,0.0972,...,0.00001,0.21130,0.00001,0.55330,0.00001,0.00001,NaN,NaN,NaN,2
140,CCA#3,60481,0.5701,0.05760,7.5829,0.01880,0.19040,0.00001,0.4491,0.1894,...,0.00001,0.00001,1.12040,7.53260,0.00001,0.00001,NaN,NaN,0.00001,3
151,CCA#4,68986,0.8303,0.10340,4.6843,0.26250,0.20400,0.10140,0.3551,0.3030,...,0.02820,0.00001,0.31700,0.00001,0.07620,0.00001,NaN,NaN,NaN,4
162,CCA#5,68988,0.6444,1.65760,5.7581,1.01720,0.41150,0.02660,1.0136,0.2595,...,0.00001,1.92260,0.00001,33.58890,0.00001,0.00001,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,CCA#213,71303,1.9376,4.25950,12.4755,0.89300,0.25650,0.07640,2.5657,0.9125,...,0.02850,0.00001,0.00001,0.00001,0.11670,0.11590,NaN,NaN,NaN,213
128,CCA#214,71311,0.9285,3.53040,7.9356,0.31930,0.55010,0.05880,0.8581,0.2353,...,0.00001,0.36060,0.98660,0.00001,0.00001,0.00001,NaN,NaN,NaN,214
129,CCA#215,71314,2.8928,0.00001,8.7906,0.00001,0.24710,0.00001,1.3198,0.1029,...,0.00001,0.00001,0.00001,0.00001,0.10950,0.00001,NaN,NaN,0.00001,215
130,CCA#216,71316,1.0398,0.18730,5.1654,0.89950,0.00001,0.00001,0.8611,0.2972,...,0.03690,0.00001,0.00001,13.92280,0.00840,0.00001,NaN,NaN,0.01980,216
131,CCA#217,71318,1.4183,2.45090,15.8045,1.61940,0.18090,0.00001,0.6321,0.2650,...,0.00001,0.00001,0.00001,11.58070,0.00001,0.79010,NaN,NaN,NaN,217

In [98]:
df.to_excel("/Volumes/Samsung_T5/downloads/Integrated_multiomics_analysis_CCA/data/metadata/protein_Tumor_217patients_Delna30%_update.xlsx",index = False)